@import "../Constants.scss";

@media (min-width: 1281px) {
  .particles-main-container {
    display: flex;
    height: 380vh;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    flex-direction: column;

    canvas {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
    }
    h1 {
      z-index: 2;
    }
  }
 
}

