@import "../Constants.scss";

@media (min-width: 1281px) {
  .particles-main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 380vh;    
    width: 98.7vw;
    overflow-x: hidden;

    canvas {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
    }
    h1 {
      z-index: 2;
    }
  }
}
