.navigation-container {
  height: 80px;
  width: 100%;
  color: rgba(255, 255, 255, 0.86);
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  align-items: center;
  background: none;
  cursor: pointer;
  z-index: 3;
  position: fixed;

  .left {
    margin-left: 10%;

    .logo {
      height: 35px;
      opacity: 0.9;
    }
  }

  .right {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navigation-items {
      margin: 0 50px 0 0;
    }

    .register-button {
      font-family: Roboto, serif;
      border: solid red 1.5px;
      border-radius: 5px;
      background: none;
      font-size: 17px;
      color: #ff2906;
      height: 40px;
      width: 130px;
      margin-right: 10%;
    }

  }

}



