// @font-face {
//   font-family: 'barbaro';
//   src: url('../../Assets/fonts/barbaro.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }



.navigation-container {
  height: 80px;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  color: rgba(255, 255, 255, 0.86);
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  align-items: center;
  background: none;
  cursor: pointer;
  z-index: 3;
  position: fixed;

  .left {
    .logo {
      height: 40px;
      opacity: 0.9;
    }
  }

  .right {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navigation-items {
      margin: 0 50px 0 0;
    }

    .register-button {
      border: solid red 1.5px;
      border-radius: 5px;
      background: none;
      font-size: 17px;
      color: #ff2906;
      height: 43px;
      width: 160px;
    }
  }
}

