.navigation-main-container {
    height: 80px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    align-items: center;
    margin: 0;
    background: none;
    cursor: pointer;
    border-bottom: solid 1px orange;
}