.navigation-main-container {
    height: 50px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    align-items: center;
    margin: 0;
    cursor: pointer;
}