@import '../Constants.scss';

.particles-main-container {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  position: relative;

  canvas {
    background: none;
    height: 300%;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
  }

  h1 {
    position: absolute;
    z-index: 2;
    top: auto;
    left: auto;
  }
}
