// // adding fonts from locally files.
// @font-face {
//   font-family: 'blacker';
//   src: url('./Assets/fonts/Blacker-Display-Medium-trial.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

*,
html,
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
