.registration-main-container {
  background-image: linear-gradient(-20deg, #042236 0%, #433a66b7 100%),
    url("./Assets/white.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
  padding: 5%;

  .left-conatiner {
    border: red solid;
    width: 100%;

    .logo-icon {
    }
  }
  .right-container {
    border: orange solid;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.897);

    .registration-form-container {
      border: solid white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .input-item {
      width: 60%;
      height: 100px;
      overflow: hidden;
      position: relative;
      color: black;

      input {
        display: block;
        width: 100%;
        padding-top: 20px;
        border: none;
        border-radius: 0; // For iOS
        color: black;
        background: none;
        font-size: 20px;
        transition: 0.3s ease;

        &:focus {
          outline: none;
          // border-bottom-color: $secondary-color;
          ~ label {
            top: 0;
            font: 700 10px;
            color: black;
          }

          ~ .bar:before {
            transform: translateX(0);
          }
        }
      }

      label {
        position: absolute;
        top: 20px;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 400;
        font-size: 16px;
        cursor: text;
        transition: 0.25s ease;
      }

      .bar {
        background: rgba(0, 0, 0, 0.288);
        content: "";
        width: 400px;
        height: 1px;
        transition: 0.2s ease;
        margin-top: -2px;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          background: orange;
          width: 400px;
          height: 1px;
          transition: 1s;
          transform: translateX(-100%);
        }
      }
    }
  }
}
